# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/aquatracking

# Application Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration (para autenticación futura)
JWT_SECRET=your-secret-key-change-this
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:5173

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8174978666:AAF2BUSnPtwSAYnvUYkjG-qOQkHZtzg0vjQ
FRONTEND_URL=http://localhost:5173

# Google Gemini AI Configuration
GROQ_API_KEY=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
